.ludo-board > tbody > tr > td {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
}

.ludo-board > tbody > tr > td.red {
    background-color: darkred;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.green {
    background-color: #003100;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.blue {
    background-color: darkblue;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.yellow {
    background-color: #ccaa00;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.black {
    background-color: black;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.white {
    background-color: white;
    border: 1px solid black;
}

.ludo-piece {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: auto;
}

.ludo-piece.red {
    background-color: red;
}

.ludo-piece.green {
    background-color: green;
}

.ludo-piece.yellow {
    background-color: yellow;
}

.ludo-piece.blue{
    background-color: blue;
}
