.ludo-board > tbody > tr > td {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
}

.ludo-board > tbody > tr > td.red {
    background-color: darkred;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.green {
    background-color: darkgreen;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.blue {
    background-color: darkblue;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.yellow {
    background-color: #ccaa00;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.black {
    background-color: black;
    border: 1px solid black;
}

.ludo-board > tbody >  tr > td.white {
    background-color: white;
    border: 1px solid black;
}
