div.chat-messages-list-container {
  height: 50px;
  overflow-y: scroll;
  border: 1px solid silver;
}

table.chat-messages-list td.message-from {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid silver;
}


table.chat-messages-list td.message-time {
    color: #666;
}

table.chat-messages-list td.message-time,
table.chat-messages-list td.message-from {
    text-align: top;
}

table.chat-messages-list td.message-text {
    padding-left: 5px;
}