////////////
// Common //
////////////

body {
  padding-bottom: 40px;
  padding-top: 40px;
  font: normal 1em sans-serif;
}

.hidden {
    display: none;
}

#brand {
    margin-left: 0px;
}

.container {
    background-color: white;
}

///////////
// Login //
///////////
form.form-signin, form.form-register {
    max-width: 320px;
    margin: auto;
}
