////////////
// Common //
////////////

body {
  font: normal 1em sans-serif;
}

.hidden {
    display: none;
}

#brand {
    margin-left: 0px;
}

.container {
    background-color: white;
}

///////////
// Login //
///////////
form.form-signin, form.form-register {
    max-width: 320px;
    margin: auto;
}

///////////
// Lobby //
///////////
div#lobby-messages-list-container {
  height: 50px;
  overflow-y: scroll;
  border: 1px solid silver;
}

table#lobby-messages-list {
    td.message-from {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        border-right: 1px solid silver;
    }
    td.message-time {
        color: #666;
    }
    td.message-from, td.message-time {
        text-align: top;
    }
    td.message-text {
        padding-left: 5px;
    }
}

////////////////
// Game lists //
////////////////
table#game-list td {
    vertical-align: middle;
    &.actions { text-align: center; }
}
