@import "mixins.less";

.pulse-red-frames () {
    from { background-color: #fdd; }
    to { background-color: white; }
}
@-webkit-keyframes pulse-red {.pulse-red-frames;}
@-moz-keyframes pulse-red {.pulse-red-frames;}
@-ms-keyframes pulse-red {.pulse-red-frames;}
@-o-keyframes pulse-red {.pulse-red-frames;}
@keyframes pulse-red {.pulse-red-frames;}

.pulse-green-frames () {
    from { background-color: #cfc; }
    to { background-color: white; }
}
@-webkit-keyframes pulse-green {.pulse-green-frames;}
@-moz-keyframes pulse-green {.pulse-green-frames;}
@-ms-keyframes pulse-green {.pulse-green-frames;}
@-o-keyframes pulse-green {.pulse-green-frames;}
@keyframes pulse-green {.pulse-green-frames;}

.pulse-blue-frames () {
    from { background-color: #ddf; }
    to { background-color: white; }
}
@-webkit-keyframes pulse-blue {.pulse-blue-frames;}
@-moz-keyframes pulse-blue {.pulse-blue-frames;}
@-ms-keyframes pulse-blue {.pulse-blue-frames;}
@-o-keyframes pulse-blue {.pulse-blue-frames;}
@keyframes pulse-blue {.pulse-blue-frames;}

.pulse-yellow-frames () {
    from { background-color: #ffb; }
    to { background-color: white; }
}
@-webkit-keyframes pulse-yellow {.pulse-yellow-frames;}
@-moz-keyframes pulse-yellow {.pulse-yellow-frames;}
@-ms-keyframes pulse-yellow {.pulse-yellow-frames;}
@-o-keyframes pulse-yellow {.pulse-yellow-frames;}
@keyframes pulse-yellow {.pulse-yellow-frames;}


table.ludo-board {
    margin-top: 30px;

    td {
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 0;

        &.path {
            border: 1px solid black;
        }

        &.red { background-color: darkred; }
        &.blue { background-color: darkblue; }
        &.green { background-color: darken(darkgreen, 10%); }
        &.yellow { background-color: #ccaa00; }
        &.black { background-color: black; }

        span.path-step-label.by-dice { font-weight: bold; }

        div.piece {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: auto;
            border: 3px solid black;
            .rounded(20px);
            &.red { background-color: red; }
            &.blue { background-color: blue; }
            &.green { background-color: green; }
            &.yellow { background-color: yellow; }

            &.ghost { opacity: 0.3; }
        }
    }

    .nick {
        font-size: .85em;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: #eee;
        font-weight: bold;
        .rounded(7px);

        &.current {
            background-color: #ffc;
        }

        &.red {
            .box-shadow(0 0 5px red);
            background-color: #fee;
            &.current { .pulse(pulse-red); }

        }
        &.blue {
            .box-shadow(0 0 5px blue);
            background-color: #eef;
            &.current { .pulse(pulse-blue); }
        }
        &.green {
            .box-shadow(0 0 5px green);
            background-color: #efe;
            &.current { .pulse(pulse-green); }
        }
        &.yellow {
            .box-shadow(0 0 5px yellow);
            background-color: #ffe;
            &.current { .pulse(pulse-yellow); }
        }
    }
}
