div.game-list
  .game-list-item
    td
      vertical-align middle     
  
div.editor
  .nav-pills
    margin 0 auto
    padding 0

  .rectangle-board
    border-collapse collapse
    td
      border 1px solid gray
      width 30px
      height 30px
