html
  head
    script(src="/lib/jquery/dist/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/css/ludo.css")
    script(data-main="/js/dev/board-test.js" src="/lib/requirejs/require.js")
  body
    div#container

