html
  head
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/js/dev/board-test.js")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/css/ludo.css")
  body
    div#container

