Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
      - InstancePort: '80'
        LoadBalancerPort: '80'
        Protocol: TCP
        InstanceProtocol: TCP
      - InstancePort: '80'
        LoadBalancerPort: '443'
        Protocol: SSL
        InstanceProtocol: TCP
        SSLCertificateId: arn:aws:iam::653133085981:server-certificate/cloudfront/abestonet-2015-12
      Policies:
      - Attributes:
        - Name: Reference-Security-Policy
          Value: ELBSecurityPolicy-2015-05
        PolicyName: Reference-ELBSecurityPolicy-2015-05
        PolicyType: SSLNegotiationPolicyType
           
       
