table.table
  thead
    tr
      th(data-trans='gamelist.players')
      th(data-trans='gamelist.createdBy')
      th(data-trans='gamelist.createdAt')
  tbody
    {{#games}}
    tr
      td {{playerCount}}/{{maximumPlayers}}
      td {{createdBy}}
      td {{createdAt}}
      td
        {{^joined}}
        a.join-game.btn(data-gameid='{{id}}', data-trans='gamelist.join')
        {{/joined}}
        {{#joined}}
        a.open-game.btn(data-gameid='{{id}}', data-trans='gamelist.open')
        {{/joined}}
    {{/games}}
   tfoot
    tr
      td(colspan='4')
        a.btn.btn-primary(href='#create-ludo-modal', data-trans='gamelist.new', data-toggle='modal')

include create-ludo
