form.form-signin
  h2 Please sign in
  div.alert.alert-error.hidden
  div.form-group
    input.form-control(name='nick', type='text', placeholder='Nickname')
  div.form-group
    input.form-control(name='password', type='password', placeholder='Password')
  //-label.checkbox
    input(type='checkbox', value='remember-me', disabled='disabled')
    | Remember me&nbsp;
    small (not supported yet)
  div.form-group
    button.btn.btn-primary.btn-block(name='signin', type='submit') Sign in
    button.btn.btn-default.btn-block(name='register', type='button') Register a new account

