div.row
  div.span5#board
  div.span4#controls.well
    div#state
      span(data-trans='ludo.state.label')
      span#state-text
      table.table#players
        tr.player.red(data-side=0)
          td.player-arrow &#9654;
          td.player-color
          td.player-nick.no-player
            span(data-trans="ludo.noPlayer")
        tr.player.green(data-side=1)
            td.player-arrow &#9654;
            td.player-color
            td.player-nick.no-player
              span(data-trans="ludo.noPlayer")
        tr.player.yellow(data-side=2)
            td.player-arrow &#9654;
            td.player-color
            td.player-nick.no-player
              span(data-trans="ludo.noPlayer")
        tr.player.blue(data-side=3)
            td.player-arrow &#9654;
            td.player-color
            td.player-nick.no-player
              span(data-trans="ludo.noPlayer")
    div#dice
      span(data-trans='ludo.dice')
      span#last-dice-value
      a#roll-dice.btn(href='#', data-trans='ludo.roll')
    a#start.btn(href='#', data-trans='ludo.start')
    a#skip.btn(href='#', data-trans='ludo.skip')
  div.span5#rules-container
    h4(data-trans='generic.rules')
    ul.unstyled#rules

