div.navbar.navbar-fixed-top
  div.navbar-inner
   a#brand.brand(href='#') Are you board?
   ul.nav
     li#navbar-lobby-btn
       a(href='#', data-trans='topbar.lobby')
     li#navbar-games-btn
       a(href='#', data-trans='topbar.openGames')
     li#navbar-my-games-btn
       a(href='#', data-trans='topbar.myGames')
   ul.nav.pull-right
     li.hidden#navbar-admin-btn
       a(href='#') Admin
     li.dropdown
       a.dropdown-toggle(href='#', data-toggle='dropdown') {{nick}}
         b.caret
       ul.dropdown-menu
         li
           a#signout(href='#', data-trans='topbar.signOut')
