form.form-register
  h2 Guess what :)
  div.alert.alert-danger.hidden
  div.form-group
    input.form-control(name='nick', type='text', placeholder='Nickname')
  div.form-group
    input.form-control(name='password', type='password', placeholder='Password')
  div.form-group
    input.form-control(name='password-again', type='password', placeholder='Password again')
  div.form-group
    button.btn.btn-primary.btn-block(name='register', type='submit') Register
    button.btn.btn-default.btn-block(name='back', type='button', style='float:right') Back

