form.form-register
  h2 Guess what :)
  div.alert.alert-error.hidden
  input.input-block-level(name='nick', type='text', placeholder='Nickname')
  input.input-block-level(name='password', type='password', placeholder='Password')
  input.input-block-level(name='password-again', type='password', placeholder='Password again')
  button.btn.btn-primary(name='register', type='submit') Register
  button.btn(name='back', type='button', style='float:right') Back

