html
  head
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/swagger-js/browser/swagger-client.min.js")
    script(src="/lib/socket.io-client/socket.io.js")
    script(src="/js/index.js")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
  body
    div#container
