div.chat
  div.row-fluid.head Fejléc
  div.row-fluid.body
    div.span9.scroll.messages-scroll
      div.filler
      table.messages
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message rövid üzenet
        tr
          td.user user
          td.message ez egy nagyon hússzú üzenet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget odio purus. Maecenas vestibulum iaculis elit id scelerisque. Donec tristique risus at erat sollicitudin at egestas odio tincidunt. Maecenas eros orci, condimentum a consectetur ac, tempus a nisi. Nunc id elit sit amet libero faucibus bibendum at non diam. Suspendisse nec turpis urna. Nullam auctor diam id felis vehicula pharetra aliquam mauris tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nunc mauris, facilisis a luctus nec, semper non ante. 
        tr
          td.user user
          td.message rövid üzenet
          
    div.users-container.span3
      ul.users.span3.scroll
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
        li.user user
  div.row-fluid.foot
    form.span12.chat-send
      input.span11(type='text', name='input-msg', autocomplete='off')
      input.span1(type='submit', value='Send', id='send')
      