div.row(style='margin-top:70px; height: 400px')
  div.span9#chat-scroll(style='height: 400px; overflow: auto; border: 1px solid black')
    table#messages
  div.span2
    ul#users
      li abesto
div.row
  form.span12
    input.span11(type='text', id='input-msg')
    input.span1(type='submit', value='Send', id='send')
    