div.editor.row

  div.modal.delete-dialog(style='display:none')
    div.modal-header
      a.close(data-dismiss="modal") &cross;
      h3 Confirm game deletion
    div.modal-body
    div.modal-footer
      a.btn.btn-danger(rel="delete") Delete
      a.btn(rel="cancel") Cancel      
      
  form.form-horizontal(action='#')
    div.page-header
      h1 Editing 
        span.game-name ${game.name}
        | 
        small 
          | (id:
          span.game-id ${game.id}
          | )
    div.tabbable
      ul.nav.nav-tabs
        li.active
          a(href='#general', data-toggle='tab') General
        li 
          a(id='boards-tab', href='#boards', data-toggle='tab') Boards
      // eof nav-tabs
      div.tab-content 
        div.tab-pane.active#general
            label Game name 
              input(name='name', type='text', value='${game.name}')
            label Description 
              textarea(name='description', rows='10').span12 ${game.description}
            input.btn.btn-primary.save(type='submit', value='Save')
        // eof #general
        div.tab-pane#boards
          div.row
            div.left.span9 No board selected
            div.right.span3.well(style='padding:9px')
              fieldset(style='margin-bottom:9px')
                legend 
                  | Boards
                  input.btn.btn-primary.save(type='submit', value='Save', style='float:right')
                ul.board-list
                div.btn-group
                  a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Add a board 
                    span.caret
                  ul.dropdown-menu
                    li
                      a.add-board(href="#", data-board="rectangle", data-parameters='{"rows":8,"columns":8}') Rectangle

                div.properties
        // eof #boards
      // eof tab-content
    // eof tabbable
