div.editor
  form(action='#')
    h1 Editing 
      span.game-name ${game.name}
      | 
      small 
        | (id:
        span.game-id ${game.id}
        | )
    div.row
      div.span10
        div.tabbable
          ul.nav.nav-tabs
            li.active
              a(href='#general', data-toggle='tab') General
            li 
              a(id='boards-tab', href='#boards', data-toggle='tab') Boards
          // eof nav-tabs
          div.tab-content 
            div.tab-pane.active#general
                label Game name
                  input(name='name', type='text', value='${game.name}')
                label Description
                  textarea(name='description', rows='10').span10 ${game.description}
            // eof #general
            div.tab-pane#boards
              div.boards-list.span5
              div.board-properties.span7
                div.container
                div.btn-group
                  a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Add a board 
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="#", id="add-rectangle-board", rel="Board;RectangleBoard;8,8") Rectangle board
            // eof #boards
          // eof tab-content
        // eof tabbable
        input.btn.btn-primary.save(type='submit', value='Save')

      div.span2.sidebar
        div.help
        div.alerts

