form.well.span3.offset4
  fieldset
    legend Change password
    label New password:
      input(type='password', name='password')
    label New password again:
      input(type='password', name='password2')
    input(type='submit', name='change', value='Change')

