div.row
  form.well.span3.offset4
    h2 Welcome!
    div.alerts
    label Nickname:
      input(type='text', name='nick')
    label Password:
      input(type='password', name='password')
    input(type='submit', name='login', value='Log In').btn.btn-primary
    input(type='button', name='register', value='Register').btn.pull-right