div.row
  div.span9
    table#lobby-messages-list
    form#lobby-message-form
      input#lobby-message-input(type='text', placeholder='Type your message...')
      input#lobby-send-input(type='submit') Send
  div.span3
    div.well.sidebar-nav
      ul.nav.nav-list#lobby-user-list
