div.row
  div.col-md-9
    div.col-md-9#lobby-messages-list-container
      table#lobby-messages-list
        tr
          td.message-time {{renderedAt}}
          td.message-from
          td.message-text(data-trans="lobby.welcome")
    form#lobby-message-form.col-md-9
      input#lobby-message-input.col-md-7(type='text', placeholder, data-trans='chat.placeholder')
      input#lobby-send-input.col-md-2(type='submit', data-trans='chat.send')
  div.col-md-3
    strong(data-trans='lobby.onlineUsers') Online users
    ul.list-unstyled#lobby-user-list

