!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Are you board?
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') Are you board?
          div#navbar-content
    div.container#content
