{{if user}}
ul.nav
  li.active
    a#chat(href='#', data-toggle='tab') Chat
  li
    a#play(href='#', data-toggle='tab') Play!
  li
    a#editor(href='#', data-toggle='tab') Build
ul.nav.pull-right
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      span#current-user-nick ${user.nick}
      b.caret
    ul.dropdown-menu
      li
        a#edit-profile(href='#') Change Password
      li.divider
      li
        a#logout(href='#') Log out
{{/if}}
