{{if user}}
ul.nav
  li
    a#chat(href='#', data-toggle='tab') Chat
ul.nav.pull-right
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown') ${user.nick}
      b.caret
    ul.dropdown-menu
      li
        a#profile(href='#') Profile
        a#logout(href='#') Log out
{{/if}}
